@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

html, body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   color: #5d5d5d;
   font-weight: 300;
   height: 100%;
   width: 100%;
}

@keyframes fadeIn {
  0% { opacity: 1; }
  10% { opacity: 0.9; }
  20% { opacity: 0.8; }
  30% { opacity: 0.7; }
  40% { opacity: 0.6; }
  50% { opacity: 0.5; }
  60% { opacity: 0.6; }
  70% { opacity: 0.7; }
  80% { opacity: 0.8; }
  90% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes yellow-fade { 0% {background: #f2f2b8;} 100% { background: #f3f3f3; } }
.highlight { -webkit-animation: yellow-fade 0.5s ease-in 1; animation: yellow-fade 0.5s ease-in 1; }

#header {
   background: #039BE6;
   border-top: 5px solid #0190d6;
   color: #FFF;
   padding: 10px;
}

#chat-logo {
   width: 35px;
   vertical-align: middle;
}

.loading {
   -webkit-animation-name: fadeIn;
   -webkit-animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-name: fadeIn;
   animation-duration: 0.8s;
}

#user { float: right; vertical-align: bottom; }

#user-backup {
  text-align: center;
  background: #f5f5f5;
  padding: 8px 5px;
}

#user-backup * {
  display: inline-block;
}

#user div {
   display: inline-block;
   vertical-align: middle;
   margin-left: 5px;
   font-size: 14px;
}

.user-icon {
   width: 30px;
   vertical-align: middle;
}

#image-icon {
   width: 39px;
   vertical-align: top;
   cursor: pointer;
}

#chat-box {
  padding: 10px;
  height: 80%;
  overflow: auto;
}

#control-box {
   background: #039BE6;
   color: #FFF;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   padding: 10px;
   text-align: center;
}

#txt-message {
   border: none;
   padding: 8px;
   font-size: 14px;
   width: 57%;
   border-radius: 2px;
   outline: none;
}

#txt-message:focus {
   background: #ffffd7;
}

button {
   background: #0190D6;
   border: none;
   color: #FFF;
   padding: 8px 10px;
   cursor: pointer;
   font-size: 12px;
   border-radius: 2px;
   font-weight: 300;
}

button:hover {
   background: #0082c1;
}

#send-button {
   font-size: 16px;
   font-weight: 300;
}

#send-button img {
   width: 18px;
   vertical-align: top;
}

#new-upload {
  width: 100%;
  margin-top: 7px;
  font-size: 16px;
}

ul#messages li {
  margin-bottom: 10px;
  text-align: right;
  background: #f3f3f3;
  padding: 5px 10px;
  border-radius: 3px;
  width: 60%;
  float: right;
}

ul#messages li > h4 {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 12px;
}

ul#messages li > div {
  white-space : normal;
  overflow: hidden;
}

ul#messages li > img {
  width: 50%;
}

.username-elem {
  padding: 8px;
  vertical-align: middle;
  background: #0082c1;
  border-radius: 2px;
  border: 1px solid #0082c1;
  color: #FFF;
  font-size: 14px;
}

.sign-out, .sign-out:hover {
  background: #EF5350;
}

.message-not-owned {
  float: left;
  text-align: left;
}

/* Media Queries */
@media only screen and (max-width: 570px) {
    #user { display: none; }
    #user-backup { display: block; }
}

@media only screen and (min-width: 570px) {
    #user { display: block; }
    #user-backup { display: none; }
}

@media only screen and (max-width: 355px) {
    #txt-message { width: 66%; }
    #image-icon { display: none; }
    #new-upload { display: block; }
}

@media only screen and (min-width: 355px) {
  #new-upload { display: none; }
}

/* Height */
@media only screen and (max-height: 1366px) {
    #chat-box { height: 90%; }
}

@media only screen and (max-height: 1024px) {
    #chat-box { height: 86%; }
}

@media only screen and (max-height: 736px) {
    #chat-box { height: 75%; }
}

@media only screen and (max-height: 732px) {
    #chat-box { height: 72%; }
}

@media only screen and (max-height: 640px) {
    #chat-box { height: 71%; }
}

@media only screen and (max-height: 568px) {
    #chat-box { height: 60%; }
}